<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Common Module | Textos y Fechas</p>
</div>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="UPPERCASE" [subheader]="stringUpper">
      {{ !upper ? stringUpper : (stringUpper | uppercase) }}
      <p-footer>
        <button
          pButton
          type="button"
          label="{{ !upper ? 'Activar Pipe' : 'Desactivar Pipe' }}"
          icon="{{
            !upper ? 'pi pi-eye' : 'pi pi-eye-slash'
          }}"
          (click)="upper = !upper"
          class="w-full p-button-lg lg:w-7"
        ></button>
      </p-footer>
    </p-card>
  </div>

  <div class="col-12  md:col-4">
    <p-card header="lowercase" [subheader]="stringLower">
      {{ !lower ? stringLower : (stringLower | lowercase) }}
      <p-footer>
        <button
          pButton
          class="w-full p-button-lg lg:w-7"
          label="{{ !lower ? 'Activar Pipe' : 'Desactivar Pipe' }}"
          icon="{{
            !lower ? 'pi pi-eye' : 'pi pi-eye-slash'
          }}"
          (click)="lower = !lower"
        ></button>
      </p-footer>
    </p-card>
  </div>

  <div class="col-12  md:col-4">
    <p-card header="Titlecase" [subheader]="stringTitle">
      {{ !title ? stringTitle : (stringTitle | titlecase) }}
      <p-footer>
        <button
          pButton
          class="w-full p-button-lg lg:w-7"
          label="{{ !title ? 'Activar Pipe' : 'Desactivar Pipe' }}"
          icon="{{
            !title ? 'pi pi-eye' : 'pi pi-eye-slash'
          }}"
          (click)="title = !title"
        ></button>
      </p-footer>
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Pipes de tipo Date</h1>
  <p>Pipes para manejar las fechas</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul style="font-size: larger">
        <li>Variable fecha</li>
        <li>Variable fecha con pipe Date</li>
        <li>Variable fecha con pipe Date tipo shortDate</li>
        <li>Variable fecha con pipe Date tipo long</li>
        <li>Variable fecha con pipe Date formato personalizado</li>
      </ul>
      <hr />
      <ul style="font-size: larger">
        <li>Fecha idioma español</li>
        <li>Fecha idioma frances</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul style="font-size: larger">
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date: "shortDate" }}</li>
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "dd/MM/yyyy HH:mm" }}</li>
      </ul>
      <hr />
      <ul style="font-size: larger">
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "long":"":"fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
