<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>

  <p-button
    label="Mostrar nombre"
    icon="pi pi-angle-up"
    iconPos="right"
    (click)="mostrarNombre()"
  ></p-button>

  <hr>
  
    <p-card [header]="'Pipes en Angular - ' + (nombre | titlecase)" subheader="PrimeNG Card">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum atque
        culpa, ipsa libero quaerat tenetur labore veritatis, voluptatibus
        adipisci dolor, neque provident non repellat placeat beatae
        necessitatibus cupiditate quisquam deserunt!
      
    </p-card>
  
</div> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
